ion-content {
 background: linear-gradient(to left, #fdc830, #f37335);
}

h2 {
  text-align:start;
  color: floralwhite
}

ion-label {
  color: floralwhite
}

p {
  text-align:justify;
  color: floralwhite
}