<ion-header>
  <ion-navbar>
    <ion-title>Calculator</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Electric Consumption & Cost Calculator</h2>
  <p>
Input the necessary values and calculate your electricity consumption and cost, per day.
  </p>

<br />
<ion-item>
  <ion-label> Power Consumption [watts] </ion-label>
  <ion-input type="number" [(ngModel)]="powerconsumption" ></ion-input>
</ion-item>

<ion-item>
  <ion-label> Hours of Use </ion-label>
  <ion-input type="number" [(ngModel)]="hoursofuse" ></ion-input>
</ion-item>

<ion-item>
  <ion-label> Cost [per kWh] </ion-label>
  <ion-input type="number" [(ngModel)]="cost" ></ion-input>
</ion-item>

<button ion-button color="primary" (click)="compute()">Compute</button>

<br /><br />
<ion-item *ngIf="energyconsumed">
  <h3> Energy Consumed per Day: {{energyconsumed }} kWh </h3>
</ion-item>

<ion-item *ngIf="costperday">
  <h3> Electricity Cost per Day: {{costperday | currency: '&#8369;' }} </h3>
</ion-item>

</ion-content>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>