img {
    max-width:auto;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


ion-content {
 background: linear-gradient(to bottom, #fdc830, #f37335);
}

h2 {
  text-align: center;
  color: rgb(97, 55, 0)
}

h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(97, 55, 0)
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(97, 55, 0)
}